---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("pages", "contact");
const { contact_form_action }: { contact_form_action: string } = config.params;
const { title, description, meta_title, image } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="mx-auto md:col-10 lg:col-6">
          <form action={contact_form_action} method="POST">
            <div class="mb-6">
              <label for="name" class="form-label">
                Nom et Prénom <span class="text-red-500">*</span>
              </label>
              <input
                id="name"
                class="form-input"
                placeholder=""
                type="text"
              />
            </div>
            <div class="mb-6">
              <label for="phone" class="form-label">
                Numéro de Téléphone <span class="text-red-500">*</span>
              </label>
              <input
                id="phone"
                class="form-input"
                placeholder=""
                type="tel"
              />
            </div>
            <div class="mb-6">
              <label for="instagram" class="form-label">
                Lien Instagram <span class="text-red-500">*</span>
              </label>
              <input
                id="instagram"
                class="form-input"
                placeholder=""
                type="text"
              />
            </div>
            <div class="mb-6">
              <label for="CODE" class="form-label">
                Code PROMO <span class="text-red-500">*</span>
              </label>
              <input
                id="CODE"
                class="form-input"
                placeholder=""
                type="text"
              />
            </div>
            <div class="mb-6">
              <label for="followers" class="form-label">
                Nombre d'abonnés <span class="text-red-500">*</span>
              </label>
              <select id="followers" class="form-select">
                <option value="1000">1000</option>
                <option value="2000">2000</option>
                <option value="3000">3000</option>
                <option value="5000">5000</option>
                <option value="10000">10000</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</Base>
